*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid white;     */
}

/* Section HEADER */

header{
    background-color: #FF6800;
    color: white;
    position: absolute;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
}

header .header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header > section.container{
    width: 70%;
    margin: auto;
    padding: 1rem 0;

}

section.container img.logo{
    height: 30px;
}

header section.container li{
    list-style-type: none;
    padding-right: 1.3rem;
}

header div i{
padding-right: 0.5rem;
}
/* Section MAIN */

main{
    width: 70%;
    margin: 0 auto;
    margin-top: 4rem;
}

main .container img{
    height: 100%;
}


article.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}


section.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

article.cards{
    width: calc(100% / 3);
    margin: 1rem ;
    
}

article.cards img{
    width: 100%;
}

span.icon-hearts{
    position: absolute;
    top: 10px;
    right: 0;
    height: 30px;
    width: 30px;
    background-color: white;
    text-align: center;
    font-size: 1.5rem;
}

div.p-absolute{
    position: absolute;
    bottom: 80px;

}

main span.color-red{
    color: red;
    font-weight: bold;
}

article span.sale{
    background-color: red;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 60px;
    text-align: center;
    font-size: 1.1rem;
    line-height: 30px;
    vertical-align: middle; 
    display: inline-block;
}

article span.opportunity{
    background-color: green;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 100px;
    text-align: center;
    font-size: 1.1rem;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}

.line-throungh{
    text-decoration: line-through;
}

/* Change image */

.cards .hover-image{
    display: none;
}

.cards:hover .default-image{
    display: none;
}

.cards:hover .hover-image{
    display: block;
}

/* Footer */

footer{
    width: 100%;
    margin: 0 auto;
    height: 100px;
    background-color: #1A1A1A;
    color: white;
}

.footer-flex
{
    display: flex;
    align-items: center;
    justify-content: space-between;

}   

footer section.container{
    width: 70%;
    margin: auto;
    padding: 1rem 0;
}

footer span{
    font-size: .7rem;
    padding-right: .5rem;
}

footer div.icon{
    margin-top: .5rem;
}